@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    font-family: Roboto;

    position: absolute;
    width: 20%;
    min-height: 40%;

    margin-top: 10%;
    margin-left: 40%;

    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
}

.yellow-line {
    background: #FFDC40;
    position: relative;
    top: 0;
    margin-bottom: 3%;
    height: 30px;
    border-radius: 10px 10px 0 0;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-sort {
    position: relative;
    left: 75%;
    cursor: pointer;
}

.item-box {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;

}

.item {
    display: flex;
    height: 3rem;
    width: 100%;
    align-items: center;
}

input {
    font-size: 1rem;
}

.item:hover {
    background-color: #FFDC40;
    border-radius: 10px;
}

.item:hover .input-zone {
    background-color: #FFDC40;
}

.button-dnd {
    margin-left: 2%;
}

.input-zone {
    width: 80%;
    margin-left: 5%;
    border: white;
    height: 100%;
    outline: none;
}

.spreader {
    height: 2px;
    background-color: #833AE0;
}

.hidden {
    display: none;
}

.button-remove {
    margin-right: 2%;
    cursor: pointer;
}

.button-add-wrapper {
    display: flex;
    position: relative;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
}

.button-add {
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
}

.button-p {
    color: black;
    display: flex;
    position: relative;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
}
